{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboards - Portal PMI{% endblock %}

{% block content %}
<div class="layout">
  <div class="sidebar">
    <img class='logo' src="{% static '/img/PMI - logo negativo horizontal.png' %}" alt="Logo PMI">
    <h2>Portal de Dashboards PMI</h2>
    <a href="{% url 'home' %}">🏠 Home</a>
    <a href="{% url 'dashboards' %}">📊 Dashboards</a>
    {% if user.is_staff %}
      <a href="{% url 'admin:index' %}">⚙️ Admin</a>
    {% endif %}
    <a href="#">⚙️ Configurações</a>
    <a href="#">👤 Usuário</a>
    <a href="#">ℹ️ Sobre</a>
    <a href="{% url 'logout' %}">🚪 Sair</a>
  </div>

  <div class="content">
    <h1>Dashboards</h1>

    <form method="get" action="{% url 'dashboards' %}" class="search-form" style="margin-bottom: 20px; display: flex; gap: 10px;">
      <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Buscar dashboards..." style=" padding: 10px;">
      <button type="submit" style="padding: 8px 12px;">Buscar</button>
    </form>

    <div class="dashboard-grid">
      {% for dashboard in dashboards %}
        <a href="{% url 'view_dashboard' dashboard.id %}" style="text-decoration: none; color: inherit;">
          <div class="dashboard-card">
            {% if dashboard.thumbnail %}
              <img src="{{ dashboard.thumbnail.url }}" alt="{{ dashboard.nome }}">
            {% else %}
              <img src="{% static 'img/placeholder.png' %}" alt="{{ dashboard.nome }}">
            {% endif %}
            <h3>{{ dashboard.nome }}</h3>
          </div>
        </a>
      {% empty %}
        <p>Nenhum dashboard disponível para você no momento.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}